.manageposts {
  color: rgba(0, 0, 0, 0.605);
  font-size: medium;
  padding-top: 70px;
}

.posts-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 270px;
}

.posts-table th,
.posts-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.posts-table th {
  background-color: #565656;
}

.delete-post-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-post-btn:hover {
  background-color: #c0392b;
}