.postsCard{
    flex: 1 1 30%;
    min-width: 100px; 
    max-width: 300px; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    margin-top: 170px;
    margin-right: 70px;
    background-color: #45708b;
    color: white;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-height: 150px;
  }
  .postsCount {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
  }
  .postsCard {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .postsCard:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  